.App {
  text-align: center;
  background-color:black;
  color:blanchedalmond;
}

root {
  border: 0;
  margin: 0;
}

.Title {
  color:blanchedalmond;
}

.List {
  text-align: left;
  width: fit-content;
  margin: auto;
}